<div class="my-3">
  <h2>CatchError & ThrowError</h2>
  <br>
  <div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Error : </strong>{{error}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeErrorAlert()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="row">
    <div class="col-md-12">
      <strong>Products : <span class="text-primary">Laptop</span></strong>
      <hr>
      <button class="btn btn-primary" (click)="onGetProducts()">Get Products</button>
    </div>
  </div>
</div>