<div class="my-3">
  <h2>Take, TakeLast, TakeUntil, TakeWhile - Operator</h2>
  <br>
  <div class="row">

    <div class="col-md-6">
      <strong>Ex - 01 | Take(5)</strong>
      <hr>
      <ul class="techList" id="elContainer1"></ul>
    </div>

    <div class="col-md-6">
      <strong>Ex - 03 | TakeUntil()</strong>
      <button #addBtn class="btn btn-sm btn-outline-primary ml-3" >Click to Stop</button>
      <hr>
      <ul id="elContainer3"></ul>
    </div>

    <div class="col-md-6 my-3">
      <strong>Ex - 02 | TakeLast(5)</strong>
      <hr>
      <ul class="techList" id="elContainer2"></ul>
    </div>

    <div class="col-md-6 my-3">
      <strong>Ex - 04 | TakeWhile()</strong>
      <hr>
      <ul id="elContainer4"></ul>
    </div>


  </div>
</div>