<div class="row">
  <div class="col-md-12">
    <ul class="list">
      <li><a routerLink="../fromEvent">fromEvent</a></li>
      <li><a routerLink="../interval">interval & timer</a></li>
      <li><a routerLink="../of-from">of & from</a></li>
      <li><a routerLink="../to-array">toArray</a></li>
      <li><a routerLink="../custom">Custom Observable</a></li>
      <li><a routerLink="../map">Map Operator</a></li>
      <li><a routerLink="../pluck">Pluck Operator</a></li>
      <li><a routerLink="../filter">Filter Operator</a></li>
      <li><a routerLink="../tap">Tap Operator</a></li>
      <li><a routerLink="../take">Take, TakeLast, TakeUntil, TakeWhile Operator</a></li>
      <li><a routerLink="../retry">Retry, RetryWhen, Scan, Delay</a></li>
      <li><a routerLink="../debouncetime">DebounceTime, DistinctUntilChanged</a></li>
      <li><a routerLink="../subject">Subject, BehaviorSubject</a></li>
      <li><a routerLink="../replay-subject">ReplaySubject</a></li>
      <li><a routerLink="../async-subject">AsyncSubject</a></li>
      <li><a routerLink="../concat">Concat</a></li>
      <li><a routerLink="../merge">Merge</a></li>
      <li><a routerLink="../merge-map">MergeMap</a></li>
    </ul>
  </div>
</div>