<h2>observable</h2>
<div class="row">
  <div class="col-md-6">
    <pre>
      Observable: stream
        - User Input - Ex: Button click event
        - Http Request
        - Array
        - Object 
    
      Handling Observable - via subscribe
      We get 3 states,
        - Data
        - Error
        - Complete
    </pre>
  </div>
  <div class="col-md-6 border-left border-dark">
    <p>Handle using following code</p>
    <img src="assets/img-subscribe.jpg" style="width: 350px;">
  </div>
</div>
<a class="btn btn-outline-primary mb-3" [routerLink]="['/observable','list']">List Observables...</a>
<router-outlet></router-outlet>

