<div class="row my-3">
  <div class="col-md-4">
    <h2>Promise</h2>
    <pre>
      1. async
      2. Returns single value
        - resolve (true / yes)
        - reject  (false / no)
    </pre>  
  </div>
  <div class="col-md-4 border-left border-dark">
    <h2>Observable</h2>
    <pre>
      1. async or sync
      2. Returns => stream of values
          0-----0-----0
    </pre>  
  </div>
  <div class="col-md-4 border-left border-dark">
    <h2>Action</h2>
    <pre>
      1. definite
      2. indefinite
    </pre>  
  </div>
</div>
<div class="btn-group" role="group">
  <button class="btn btn-outline-primary" (click)="definiteAction()">Definite Action: Change Promise Result</button>
  <button class="btn btn-outline-primary" (click)="callToPromise()">Call to Promise</button>
</div>
