<div class="my-3">
  <h2>Subject, BehaviorSubject</h2>
  <br>
  <div class="row">

    <div class="col-md-12">
      <strong>Ex - 01</strong>
      <hr>
      Show Exclusive badge in this page only.
    </div>

  </div>

  <h3 class="my-3">Username is <span class="text-primary">{{userName}}</span></h3>
  <hr>
  <br>
  <div class="row my-3">
    <div class="col-md-4">
      <app-comp1></app-comp1>
    </div>
    <div class="col-md-4">
      <app-comp2></app-comp2>
    </div>
    <div class="col-md-4">
      <app-comp3></app-comp3>
    </div>
<!-- 
    <div class="col-md-6 my-3">
      <strong>Ex - 02 | TakeLast(5)</strong>
      <hr>
      <ul class="techList" id="elContainer2"></ul>
    </div>

    <div class="col-md-6 my-3">
      <strong>Ex - 04 | TakeWhile()</strong>
      <hr>
      <ul id="elContainer4"></ul>
    </div> -->


  </div>
</div>