<nav class="navbar navbar-light navbar-expand-md bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Observable and Promises</a>
    <button class="navbar-toggler" (click)="onNavToggle()" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [class.show]="navOpen" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="promise">Promise</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="observable">Observable</a>
        </li>
        <li class="nav-item dropdown" appDropdown>
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            RxJs Concepts
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="promise">Promise</a>
            <a class="dropdown-item" routerLink="observable">Observable</a>
            <a class="dropdown-item" routerLink="async-await">Async await</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>